{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate libero impedit iste aperiam beatae facere
            ratione non aliquam hic consequatur, laborum eligendi cumque quae cupiditate quod fugiat dicta corrupti unde
            odit. Delectus expedita omnis vitae ipsa, totam natus deserunt vero facere laborum nostrum repellat
            quibusdam est, rerum nemo quam a modi alias officia exercitationem. Voluptatibus iusto eaque sit nemo veniam
            corrupti quae libero iure cupiditate asperiores voluptate facilis odit et quas harum, nobis, culpa
            doloremque quod numquam, deserunt deleniti? Totam officiis deleniti iusto optio perspiciatis possimus,
            soluta necessitatibus similique accusantium a quaerat fugit, quam eligendi aliquid inventore consequatur
            porro ut?</p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">SingIn</a>
            <a class="btn btn-dark" href="/signup/">SingUp</a>

        </div>
    </section>
</main>
{% endblock %}