{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Task List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Completed</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>
                    {% if task.important %}
                    <strong>{{ task.title }}</strong>
                    {% else %}
                    {{ task.title }}
                    {% endif %}
                </td>
                <td>{{ task.created_at }}</td>
                <td>{{ task.completed_at }}</td>
                <td>{{ task.user.username }}</td>
                <td><a href="/tasks/{{ task.id }}">View details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
